<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Studentenliste</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Studentenliste</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Alter</th>
    <th>Geburtstag</th>
    <th>E-Mail</th>
  </tr>
  </thead>
  <tbody>
  <!-- Thymeleaf-Schleife, um Studenten anzuzeigen -->
  <tr th:each="student : ${students}">
    <td th:text="${student.id}">ID</td>
    <td th:text="${student.name}">Name</td>
    <td th:text="${student.age}">Alter</td>
    <td th:text="${student.birthday}">Geburtstag</td>
    <td th:text="${student.email}">E-Mail</td>
  </tr>
  </tbody>
</table>
</body>
</html>
